*{
    margin: 0;
}


body{
    width: 100%;
}

table{
    background-color: rgb(236, 116, 116);
    border-collapse: collapse;
}

.table-container{
    padding: 130px;
    justify-content: center;
    align-items: center;
}


td, th {
    border: 1px solid #ff014d;
    text-align: left;
    padding: 8px;
}


.head1{
    text-align: center;
}

input[type=text],input[type=number] {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/* form */


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: #0000ee 2px solid;
    background-color: #ff014d;
    width:30%;
}

#submitBtn{
    background-color: darkorange;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    

}

